body,
td,
th {
  padding: 0;
  margin: 0;
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-family: Microsoft YaHei;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #666;
}

.button {
  font: 24px Microsoft YaHei;
}

input,
textarea {
  font: 13px Microsoft YaHei;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  text-align: center;
}

#header {
  background-color: #f6f6f6;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
}

#h-logo {
  float: left;
  margin: 15px;
}

#h-back {
  float: right;
  margin: 15px;
}

#wrapper {
  float: left;
  width: 100%;
  margin: 0 auto 30px auto;
  text-align: center;
}

#wrapper-all {
  background-color: #fff;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0;
}

#bt-up {
  width: 180px;
  height: 60px;
  margin: 80px auto 60px auto;
}

#bt-info {
  width: 960px;
  margin: 0 auto;
  font: 15px Microsoft YaHei;
  text-align: center;
}

#bt-info ul.table1 {
  border: 1px solid #ccc;
}

#bt-info ul.table1 li {
  margin: 10px 0;
  width: 100%;
}

#bt-info ul.table2 {
  margin: 0 0 0 12px;
  width: 960px;
}

#bt-info ul.table2 li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  width: 306px;
  line-height: 33px;
  margin-right: 5px;
}

#bt-make {
  width: 100%;
  text-align: center;
  line-height: 100px;
  margin-top: 20px;
}

#video {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#videolv {
  width: 732px;
  text-align: center;
  margin: 10px auto 10px;
}

#td-wrapper {
  padding-top: 10px;
  margin: auto;
  width: 640px;
}

#footer {
  width: 100%;
  float: left;
  border-top: 1px solid #ccc;
  text-align: left;
}

#copyright {
  margin: 20px auto;
  text-align: center;
}

#main {
  width: max-content;
  margin: 0 auto;
  padding: 0;
}

#ra {
  display: inline-block;
  margin-right: 55px;
  margin-top: 20px;
  width: 180px;
  height: 640px;
}

#rb {
  display: inline-block;
  width: max-content;
  vertical-align: top;
}

#rc {
  display: inline-block;
  margin-left: 55px;
  margin-top: 20px;
  width: 180px;
  height: 640px;
}

@media (max-width: 800px) {
  #ra,
  #rc {
    display: none;
  }
}

#about {
  text-align: center;
}

@keyframes gameswo-anim {
  to {
    background-position: 0 400%;
  }
}

@keyframes fade-anim {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-mid-anim {
  0% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

.gameswo {
  position: absolute;
  display: block;
  left: 15px;
  left: calc(15px + env(safe-area-inset-left));
  top: 15px;
  top: calc(15px + env(safe-area-inset-top));
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.gameswo .title {
  display: none;
}

.gameswo svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  pointer-events: none;
}

.mobile .gameswo svg {
  animation: fade-mid-anim 5s infinite ease-in-out;
}

.gameswo .disc {
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  background-color: #9fc;
  background-image: linear-gradient(
    to bottom,
    #9fc 0%,
    #9cf 25%,
    #f9c 50%,
    #fc9 75%,
    #9fc 100%
  );
  background-size: 100% 400%;
  border-radius: 50%;
  pointer-events: none;
  animation: gameswo-anim 8s infinite linear;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.2s ease-out;
}

.mobile .gameswo .disc {
  animation: gameswo-anim 8s infinite linear, fade-anim 5s infinite ease-in-out;
}

body:not(.mobile) .gameswo:hover .disc {
  opacity: 1;
}

.gameswo:active {
  margin-top: 1px;
}

.gameswo .disc {
  opacity: 1;
}

.mobile .gameswo .disc {
  animation: gameswo-anim 8s infinite linear;
}

.mobile .gameswo svg {
  animation: none;
}
